<footer>
<div class="footer-wrapper">
    <div class="copyrights">
        ©{{ "now" | date: "%Y" }} Pliavi.
    </div>

    <div class="contact">
        <a href="https://twitter.com/{{ site.twitter_username }}"><img class="icon-social" src="{{ 'assets/img/social/tt.svg' | relative_url }}"></a>
        <a href="https://github.com/{{ site.github_username }}"><img class="icon-social" src="{{ 'assets/img/social/gh.svg' | relative_url }}"></a>
        <a href="mailto:{{ site.email }}"><img class="icon-social" src="{{ 'assets/img/social/gm.svg' | relative_url }}"></a>
    </div>
</div>
</footer>