<footer>
<div class="footer-wrapper">
    <div class="copyrights">
        ©{{ "now" | date: "%Y" }} Pliavi.
    </div>

    <div class="contact">
        <a href="https://twitter.com/{{ site.twitter_username }}"><img src="http://via.placeholder.com/50x50"></a>
        <a href="https://github.com/{{ site.github_username }}"><img src="http://via.placeholder.com/50x50"></a>
        <a href="mailto:pliavi.contato@gmail.com"><img src="http://via.placeholder.com/50x50"></a>
    </div>
</div>
</footer>